<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../styles.css" />
</head>
<body style="margin:0px;padding:0px;background-color:#ffffff;">
<div id="canvas_area">
	<canvas style="position:absolute;" id="canvas_map">Your browser doesn't support canvas.</canvas>
	<canvas style="position:absolute;" id="canvas_fog"></canvas>
	<canvas style="position:absolute;" id="canvas_map_sight"></canvas>
	<canvas style="position:absolute;" id="canvas_backround"></canvas>
	<canvas style="position:absolute;" id="canvas_main"></canvas>
	<div id="chat_box"></div>
	<div id="chat_write">
		<input type="text" style="width:250px;" id="chat_text" />
		<input type="submit" value="Say" onclick="chat();" />
	</div>
	<div id="popup"></div>
</div>
<div style="position:absolute;left:0px;top:525px;width:100%;height:1000px;background-color:white"></div>
<div style="position:absolute;left:800px;top:0px;width:1000px;height:100%;background-color:white;"></div>
<script src="../js/controlls.js"></script>
<script src="../js/multiplayer.js"></script>
<script src="../js/draw.js"></script>
<script src="../js/maps.js"></script>
<script src="../js/rooms.js"></script>
<script src="../js/tanks.js"></script>
<script src="../js/tanks-functions.js"></script>
<script src="../js/infobar.js"></script>
<script src="../js/statusbar.js"></script>
<script src="../js/ai.js"></script>
<script src="../js/library.js"></script>
<script src="../js/helpers.js"></script>
<script src="../js/settings.js"></script>
<script src="../js/settings-maps.js"></script>
<script src="../js/settings-tanks.js"></script>
<script src="../js/settings-bullets.js"></script>
<script src="../js/tanks-functions.js"></script>
<script src="../js/main.js"></script>
<script src="../libs/css_browser_selector.js"></script>
<script type="text/javascript" src="http://cdn.unioncloud.io/Orbiter_latest_min.js"></script>
</body>
</html>
